<p id="notice"><%= notice %></p>

<p>
  <strong>Rentable:</strong>
  <%= @rental.rentable %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
