<p id="notice"><%= notice %></p>

<h1>Listing Rentables</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentables.each do |rentable| %>
      <tr>
        <td><%= rentable.description %></td>
        <td><%= rentable.price %></td>
        <td><%= rentable.owner %></td>
        <td><%= link_to 'Show', rentable %></td>
        <td><%= link_to 'Edit', edit_rentable_path(rentable) %></td>
        <td><%= link_to 'Destroy', rentable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rentable', new_rentable_path %>
